[submodule "deps/geometry-central"]
	path = SkelSeg/deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "deps/polyscope"]
	path = SkelSeg/deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
